* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

button {
	position: relative;
	margin: 20px;
	padding: 30px 50px;
	background: none;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 26px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

button::before, button::after {
	display: block;
	position: absolute;
	content: '';
	transition: .5s;
	z-index: -1;
}