* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #e9e9e9;
}

.counter-app {
  position: relative;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 600px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.image-section {
  position: relative;
  height: 300px;
  background-image: url("/default.jpg");
  background-size: cover;
  background-position: center;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 24px;
  background-color: #f9f9f9;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.settings-btn:hover {
  color: #f9f9f9;
  background-color: #333;
}

.time-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-color: #fff;
  z-index: 100;
}

h3 {
  font-size: 24px;
  text-align: center;
}

.time-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.card {
  text-align: center;
  padding: 20px 0;
  width: 18%;
  border: 1px solid black;
  border-radius: 8px;
}

.number {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 36px;
}

.card-title {
  text-align: center;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 50px 30px;
  width: 400px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
}

.active {
  -webkit-transform: translateX(430px);
          transform: translateX(430px);
  opacity: 1;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 30px;
  padding: 10px 20px;
  width: 100%;
}

.date {
  text-align: center;
}

.save {
  padding: 10px 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */